In [209]:
import math
from Library import *

In [232]:
data = pd.read_csv("C:/Users/LEGION/Downloads/data.csv")
data = pd.DataFrame(data)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

How many people of each race are represented in this dataset

In [252]:
num_of_type_race = pd.Series(data.groupby(by = "race").size())
num_of_type_race

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
dtype: int64

What is the average age of men?

In [442]:
s = data.groupby(by = "sex").mean()
s = s.loc['Male','age']
s

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [273]:
degree = data.groupby(by = "education").size()
bachelor_degree = degree.loc["Bachelors"]
percent_bachelor = bachelor_degree*100 / degree.sum()
percent_bachelor

16.446055096587944

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [321]:
advanced = data.groupby(by = ["education","salary"]).size()
advanced_Bachelors = advanced.loc["Bachelors"].loc['>50K']
advanced_Masters = advanced.loc["Masters"].loc['>50K']
advanced_Doctorate = advanced.loc["Doctorate"].loc['>50K']
sum_advanced = advanced_Bachelors + advanced_Masters + advanced_Doctorate
percent_advanced_morethan50K = sum_advanced * 100 / advanced.sum()
percent_advanced_morethan50K

10.70605939621019

What percentage of people without advanced education make more than 50K?

In [299]:
100 - percent_advanced_morethan50K

89.2939406037898

What is the minimum number of hours a person works per week?

In [324]:
minium_data = data["hours-per-week"].min()
minium_data

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [329]:
minium_data = data["hours-per-week"].min()
data_d = data.groupby(by = ["hours-per-week","salary"]).size()
number_miniumhour_morethan50K = data_d.loc[minium_data,'>50K']
percent_miniumhour_morethan50K = number_miniumhour_morethan50K * 100 / data_d.sum()
percent_miniumhour_morethan50K

0.0061423174963913885

What country has the highest percentage of people that earn >50K and what is that percentage?

In [425]:
country = data.groupby(by = ["native-country","salary"]).size()
number = country.loc[:,'>50K']
high = country.loc[:,">50K"].max()
name = number[number == high].index[0]
percent_country_morethan50K = high * 100 / country.sum()
percent_country_morethan50K
name

'United-States'

Identify the most popular occupation for those who earn >50K in India.

In [443]:
data_occupation = data.groupby(by = ['native-country','occupation','salary',]).size()
data_India_occupation = data_occupation['India']
number_occupation_popular = data_India_occupation.loc[:,'>50K'].max()
data_India_occupation[data_India_occupation == number_occupation_popular].index[0][0]

'Prof-specialty'